.ultratable-device-head .switch {
    margin-right: 0;
    float: right;
}

.ultratable-device-head {
    display: block;
    height: 59px;
}

.ultratable-each-column {
    border: 1px solid #ddd;
    padding: 0 10px;
    margin-bottom: 10px;
    background: #dddddd21;
    position: relative;
}

.column-head {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.column-head h3 {
    margin: 0;
    margin-right: 15px;
}
.ultratable-item-body{
    display: none;
}
.ultratable-handle,
.control-icons {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

.ultratable-each-column .column-details{display: none;}
.column-control-icons {
    position: absolute;
    left: unset;
    bottom: unset;
    right: 10px;
    top: 16px;
}
.control-icons, .control-icons:before,
.ultratable-items-wrapper .ultratable-item a,
.item-control-icons,
.item-control-icons-delete {
    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    font-size: 0px;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
}
.ultratable-handle:before,
.item-control-icons:before {
    content: "\f545";
    font-size: 20px;
}
.control-icons-delete:before,
.item-control-icons-delete:before {
    content: "\f335";
    font-size: 20px;
}
.control-icons-edit:before,
.ultratable-items-wrapper .ultratable-item a:before {
    content: "\f464";
    font-size: 20px;
}
.control-icons-delete,
.item-control-icons-delete {
    color: red;
}
.control-icons-edit,
.ultratable-items-wrapper .ultratable-item a {
    color: #2196F3;
}
.column-head img {
    width: 50px;
}
.item--control-icons {
    display: inline;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 9px;
}
.ultratable-item {
    padding: 9px;
    background: #fcfcfc;
    margin-bottom: 11px;
    box-shadow: 0px 3px 3px 1px #00000026;
    position: relative;
    border: 1px solid #30506178;
}
.ultratable-device-head h1 {
    float: left;
    font-size: 22px;
    color: black;
}

.this-col-head-number>span {
    padding: 1px 12px;
    background: #ebf6ff66;
    border: 1px solid #a8d0f1;
    margin-left: 10px;
    border-radius: 15px;
    margin-top: 0px !important;
    display: inline-block;
}
.ultratable-item-body {
    padding: 0 8px;
}

.ultratable-item>b {
    padding: 0 9px;
}