.ultratable_table_div table, .ultratable_table_div tr, .ultratable_table_div th, .ultratable_table_div td {
    border-collapse: collapse;
    border: 1px solid #9E9E9E;
}

table.ultratable_table.ultratable_product_table {
    width: 100%;
    margin-bottom: 0;
}

.ultratable_main_wrapper.ultratable_product_table {
    width: 100%;
    display: block;
}
.ultratable_table_div td{
	border-left-color: #eee;
	border-right-color: #eee;
}
table:not( .has-background ) tbody td {
    background-color: #ffffff;
}

/* Pagination */
.ultratable-pagination-wrapper {
    text-align: center;
    margin-bottom: 15px;
}
.ultratable-pagination-wrapper ul.page-numbers {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.ultratable-pagination-wrapper ul.page-numbers li {
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    flex-grow: 5;
}

.ultratable-pagination-wrapper ul.page-numbers li .page-numbers,
.ultratable-pagination-wrapper ul.page-numbers li .page-numbers.current {
    color: #444;
    font-size: 1.2rem;
    line-height: 30px;
    text-decoration: none;
    display: block;
    background: #dddddd30;
    margin: 1px;
    border: 1px solid #dddddd66;
    padding: 4px 0;
}

.ultratable-pagination-wrapper ul.page-numbers li .page-numbers.current {
    background: #ee6e73;
    color: #fff;
    border: 1px solid #9a3438;
}